/* custom styles for second password strength */
.c_strength_input{
	width: 250px;
	font-size: 35px;
	background: transparent;
	border-radius: 15px;
}

.c_strength_meter {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.c_button_strength {
	text-decoration: none;
	color: #4d4d4d;
	font-size: 16px;
	display: block;
	font-weight: bold;
}

.c_strength_meter div {
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: -1;
	overflow: hidden;
	border-radius: 19px;
	height: 45px;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.c_strength_meter div p {
    position: absolute;
    right: 10px;
    color: #4d4d4d;
    font-size: 13px;
    padding-right: 30px;
    font-weight: bold;
}

/* custom styles for third password strength */
.t_strength_meter {
    position: absolute;
  	height: 23px;
  	bottom: -2px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.t_strength_meter div {
    width: 0%;
    height: 34px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.t_strength_meter div p {
	position: absolute;
	right: 10px;
	color: #4d4d4d;
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
}