
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px 20px 20px;
  font-family: sans-serif;
  color: #333;
  line-height: 140%;
}

p,
[class^="hvr-"] {
    font-family: 'Roboto', sans-serif;
}

[class^="hvr-"] {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.aligncenter,
.effects {
  text-align: center;
}

.effects {
  margin-top: 4em;
}

a {
    color: #2098D1;
    text-decoration: none;
}

.footer a:hover,
.tutorial:hover {
    color: #207AD1;
}

.tutorial {
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
}

.tutorial:hover,
.tutorial:focus,
.tutorial:active {
  text-decoration: none;
}

.intro {
  max-width: 680px;
  margin: 20px auto 0 auto;
}

.button.cta {
  display: inline-block;
  position: relative;
  margin: 1.2em;
  padding: 1em;
  background: #2098D1;
  border: none;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

h1 {
  text-align: center;
  font-size: 4em;
}

h2 {
  margin-top: 2em;
}

h3 {
  margin: 0;
}

.about {
  border-top: #333 solid 2px;
  border-bottom: #333 solid 2px;
}

.footer {
  overflow: hidden;
  width: auto;
  margin-top: 6em;
  font-size: .9em;
}

.footer a {
  text-decoration: none;
}

.author {
  margin: 6em auto 0 auto;
  text-align: center;
  font-weight: 900;
}

.author [class^="hvr-"] {
  background: transparent;
}

.credit {
  font-size: .8em;
  font-weight: normal;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* custom styles for second password strength */
.c_strength_input{
	width: 250px;
	font-size: 35px;
	background: transparent;
	border-radius: 15px;
}

.c_strength_meter {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.c_button_strength {
	text-decoration: none;
	color: #4d4d4d;
	font-size: 16px;
	display: block;
	font-weight: bold;
}

.c_strength_meter div {
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: -1;
	overflow: hidden;
	border-radius: 19px;
	height: 45px;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.c_strength_meter div p {
    position: absolute;
    right: 10px;
    color: #4d4d4d;
    font-size: 13px;
    padding-right: 30px;
    font-weight: bold;
}

/* custom styles for third password strength */
.t_strength_meter {
    position: absolute;
  	height: 23px;
  	bottom: -2px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.t_strength_meter div {
    width: 0%;
    height: 34px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.t_strength_meter div p {
	position: absolute;
	right: 10px;
	color: #4d4d4d;
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
}